body {
    background-color: thistle;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    width: 200px;
    margin-top: 50px;
}

@media (max-width: 70px) {
    .container {
        margin: 0 10%;
    }
    .img {
        width: 100%;
    }
}